<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get CRUD</title>
  </head>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th,
    td {
      padding: 10px;
    }
  </style>
  <body>
    <table>
      <tr>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
      </tr>
      <tr>
        <%data.forEach((user) => { %>
      </tr>

      <tr>
        <td><%= user.email %></td>
        <td><%= user.firstName %></td>
        <td><%= user.lastName %></td>
        <td><%= user.address %></td>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
